#root {
  max-width: 1440px;
  background-color: rgb(193, 198, 196);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  background-color: rgb(28, 27, 35);
}

.nav-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgb(220, 227, 224);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-logo span {
  color: aquamarine;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links ul li {
  padding: 0 1rem;
}

.header-home, .header-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000000;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 2rem 0;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.nav-active {
  color: aqua;
  text-decoration: none;
}

.nav-inactive {
  color: aquamarine;
  text-decoration: none;
}

.header-users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: rgb(193, 198, 196);
}

.header-users h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.user-card {
  max-width: 650px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.user-profile {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
  color: black;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn {
  background-color: aquamarine;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pagination-item {
  background-color: aquamarine;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #000000;
}

.footer {
  background-color: rgb(28, 27, 35);
  color: #ffffff;
  text-align: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 780px) {
  .user-card {
    flex-direction: column;
    align-items: center;
    width: 300px;
  }

  .user-image {
    margin-bottom: 1rem;
  }

  .user-profile {
    text-align: center;
    font-size: 1rem;
  }

  .user-profile p {
    font-size: 1rem;
  }

  .pagination {
    flex-direction: row;
    flex-wrap: wrap;
  }
}